@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

header {
    padding-top: 20px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header #title-header {
    font-family: 'Open Sans';
    font-weight: 200;
    font-size: 40px;
    text-align: center;
    margin-top: 18px;
}

header img {
    width: 25%;
}

main {
    width: 80%;
    padding: 15px;
    margin: 30px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

main .sec {
    padding-top: 15px;
}

main form {
    padding: 20px;
}

.list-to-do {
    margin-top: 20px;
}

.task-item {
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-item.completed {
    background-color: #d4edda;
    text-decoration: line-through;
    opacity: 0.9;
}

.task-item.expired {
    background-color: #f8d7da;
}

.task-item .task-details {
    flex-grow: 1;
    margin-right: 10px;
}

.task-item .task-actions button {
    margin-left: 5px;
}

footer {
    margin-top: 20px;
}

/* Estilos para tema claro */
body {
    background-color: rgb(222, 227, 231);
    color: #000;
}

main {
    background-color: rgb(245, 245, 245);
}

.invalid-feedback {
    color: red;
}

.logo {
    filter: invert(0%);
}

/* Estilos para tema oscuro */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #202020;
        color: #ffffff;
    }

    main {
        background-color: #3d3d3d;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    }

    .task-item {
        background-color: #2e2e2e;
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
    }

    .task-item.completed {
        background-color: #274d26;
    }

    .task-item.expired {
        background-color: #5a1f1f;
    }

    .invalid-feedback {
        color: #ff6b6b;
    }

    .logo {
        filter: invert(100%);
    }
}
